aftomatik paylasim-post.json
{
  "name": "automation-post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1808,
        -96
      ],
      "id": "969f192f-8dce-4e65-8218-83697712b4e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f617d76b-539f-4780-957d-ff79621be2bd",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        -96
      ],
      "id": "46d4650a-09d1-4d1f-b19b-efaa3c39906c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "735fed60-4ecc-4321-98c2-92413da5e583",
              "name": "Idea",
              "value": "={{ $json.Ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        -112
      ],
      "id": "24e55e96-693e-4465-936e-851b8ef94719",
      "name": "butun ideyalar"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hGiJVSxod2wuvLGx",
          "mode": "list",
          "cachedResultName": "all-ideas",
          "cachedResultUrl": "/projects/6k8jnfkEYp4DDVTD/datatables/hGiJVSxod2wuvLGx"
        },
        "matchType": "allConditions"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1584,
        -96
      ],
      "id": "e8807f55-46d9-42d6-84d2-77c89173e689",
      "name": "Cedvel"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Idea }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Sən n8n avtomatlaşdırma xidmətləri satan və rəqəmsal marketinq sahəsində 10 illik təcrübəsi olan bir mütəxəssissən. Sənin vəzifən sənə verilən qısa ideya və \"sehirli söz\" əsasında bir-biri ilə tam sinxron işləyən vizual konsept və mətn hazırlamaqdır.  Giriş olaraq sənə mövzu və sehirli söz veriləcək. Sən isə cavab olaraq ABSOLUTE şəkildə yalnız aşağıdakı JSON formatını qaytarmalısan. JSON xaricində heç bir şərh və ya giriş-çıxış mətni yazma.  {   \"sehirli_soz\": \"Sənə verilən sehirli sözü eynilə saxla və ya vizuala daha uyğun qısa versiyasını (maksimum 4-5 söz) yaz.\",   \"instagram_caption\": \"Mövzuya uyğun, sahibkarın ağrılı nöqtəsini vuran, n8n avtomatlaşdırılmasını yeganə xilas yolu kimi göstərən və sonda 'Detallar üçün rəydə + yazın' və ya 'Direktə yazın' kimi güclü Hərəkətə Çağırış (CTA) olan instaqram başlığı. Mətndə abzaslardan və emojilərdən aktiv istifadə et.\",   \"tags\": \"Mövzuya tam uyğun 5-7 ədəd populyar heşteq (məsələn: #n8n #avtomatlasdirma #biznesbaku və mövzu ilə bağlı spesifik taglar)\",   \"unsplash_query\": \"Unsplash-dan bu mövzuya və sehirli sözlə gələcək emosiyaya 100% uyğun şəkil tapmaq üçün ingiliscə 2-3 dəqiq açar söz. Sözlərin arasına yalnız vergül qoy və boşluq buraxma. (Məsələn: 'stressed-businessman,tired-office,clocks')\" }  Diqqət edilməli kritik qayda: \"unsplash_query\" elə seçilməlidir ki, şəkil axtarış sistemində qarışıq yox, birbaşa postun fəlsəfəsini əks etdirən estetik biznes vizualı çıxsın. Məsələn: - Mövzu vaxt itkisidirsə: \"overworked,time-stress,businessman\" - Mövzu müştəri itkisidirsə: \"empty-office,worried-CEO\" - Mövzu rəqiblərin önə keçməsidirə: \"business-competition,graph-down\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -688,
        -112
      ],
      "id": "36cbc41e-48d0-4c99-9e57-629d9078f074",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -704,
        128
      ],
      "id": "6c55a80d-5641-4d1d-bd66-71dbd0dfe933",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "ZOK5xwwi5YTx0zxL",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Süni intellektdən gələn xam mətni götürürük\n// (Buradakı 'text' sözünü DeepSeek nodunun qaytardığı output dəyişəninə uyğun dəyişə bilərsiniz, adətən 'text' və ya 'message.content' olur)\nlet rawText = $input.item.json.text || $input.item.json.message?.content;\n\nif (!rawText) {\n    throw new Error(\"Süni intellektdən heç bir mətn gəlmədi!\");\n}\n\ntry {\n    // 2. Əgər Sİ mətni ```json ... ``` içində göndəribsə, lazımsız hissələri təmizləyirik\n    let cleanText = rawText\n        .replace(/```json/g, '')\n        .replace(/```/g, '')\n        .trim();\n\n    // 3. Mətni real JSON obyektinə çeviririk\n    let parsedData = JSON.parse(cleanText);\n\n    // 4. n8n-in növbəti nodlarda rahatlıqla tək-tək oxuya bilməsi üçün datanı ayırırıq\n    return {\n        json: {\n            sehirli_soz: parsedData.sehirli_soz,\n            instagram_caption: parsedData.instagram_caption,\n            tags: parsedData.tags,\n            unsplash_query: parsedData.unsplash_query\n        }\n    };\n\n} catch (error) {\n    // Əgər JSON formatında xəta olarsa, xətanı və xam mətni görmək üçün:\n    return {\n        json: {\n            error: \"JSON formatlama xətası baş verdi!\",\n            raw_response: rawText\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -112
      ],
      "id": "22dedce5-9431-4cea-9b7b-e821e40a95aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1360,
        -96
      ],
      "id": "ff3bad4e-5847-4ab9-a677-b38b799ca699",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/photos/random",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.unsplash_query }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Client-ID d9OM8dWg6qHrudB7cvZAqpK_rwOstF9E6MLryWbinhU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -112
      ],
      "id": "56030d12-1daa-4bd7-a467-f2c2e3865fc5",
      "name": "unplash"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bannerbear.com/v2/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer bb_pr_40d07de727ad749ccbd49dd707db16"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"kY4Qv7D8pEYKDB0qmP\",\n  \"modifications\": [\n    {\n      \"name\": \"photo_layer\",\n      \"image_url\": \"{{ $json.urls.raw }}\"\n    },\n    {\n      \"name\": \"sehirlisoz_layer\",\n      \"text\": \"{{ $('Code in JavaScript').item.json.sehirli_soz }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        -112
      ],
      "id": "d56fe97a-3ac8-470d-8ac1-4e9d2be81699",
      "name": "banner bear"
    },
    {
      "parameters": {
        "url": "={{ $json.self }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "Bearer bb_pr_40d07de727ad749ccbd49dd707db16"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        -112
      ],
      "id": "4a98cd4e-5837-46c0-8d30-0f3e4df981d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        288,
        -112
      ],
      "id": "124b1777-dd58-450d-83a9-8a42cd8c407f",
      "name": "Wait",
      "webhookId": "c2bc9e92-edcb-4e57-87b5-f2552d15743a"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cedvel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "butun ideyalar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cedvel": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "butun ideyalar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "unplash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unplash": {
      "main": [
        [
          {
            "node": "banner bear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "banner bear": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dbdf42f7-4ce5-4d8f-988a-2c92eeac8f26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0316733db25fdb4129e37cba1195cc471e26658a6a0f1d5bb03df323831dde2"
  },
  "nodeGroups": [],
  "id": "zM1uxYBTFPtdVzQp",
  "tags": []
}