automation-post.json
{
  "name": "automation-post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 4
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4848,
        -1568
      ],
      "id": "969f192f-8dce-4e65-8218-83697712b4e3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "735fed60-4ecc-4321-98c2-92413da5e583",
              "name": "Idea",
              "value": "={{ $json.Ideas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4192,
        -1568
      ],
      "id": "24e55e96-693e-4465-936e-851b8ef94719",
      "name": "butun ideyalar"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hGiJVSxod2wuvLGx",
          "mode": "list",
          "cachedResultName": "all-ideas",
          "cachedResultUrl": "/projects/6k8jnfkEYp4DDVTD/datatables/hGiJVSxod2wuvLGx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -4624,
        -1568
      ],
      "id": "e8807f55-46d9-42d6-84d2-77c89173e689",
      "name": "Cedvel"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Idea }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Sən avtomatlaşdırma xidmətləri satan və rəqəmsal marketinq sahəsində 10 illik təcrübəsi olan bir mütəxəssissən.\n\nSənin vəzifən sənə verilən qısa ideya və \"sehirli söz\" əsasında bir-biri ilə tam sinxron işləyən vizual konsept və satış yönümlü mətn hazırlamaqdır.\n\nMühüm qayda:\n- Heç bir halda \"n8n\", \"workflow\", \"inteqrasiya\", \"API\", \"no-code\", \"low-code\" kimi texniki terminlərdən istifadə etmə.\n- Müştəri texnologiyanı deyil, əldə edəcəyi nəticəni görməlidir.\n- Avtomatlaşdırmanı \"Satış Gətirən Sistem\", \"Ağıllı Biznes Sistemi\", \"Avtomatik İş Sistemi\", \"Müştəri Qazandıran Sistem\", \"Vaxt Qazandıran Sistem\" kimi ifadələrlə təqdim et.\n- Mətn sahibkarın ağrı nöqtələrinə fokuslansın.\n- Oxuyan şəxs \"mənim də bu problemim var\" hissini yaşamalıdır.\n- Mətn satış yönümlü və emosional olmalıdır.\n\nCavab olaraq ABSOLUTE şəkildə yalnız aşağıdakı JSON formatını qaytar:\n\n{\n  \"sehirli_soz\": \"Sənə verilən sehirli sözü eynilə saxla və ya vizuala daha uyğun qısa versiyasını (maksimum 4-5 söz) yaz.\",\n  \"instagram_caption\": \"Mövzuya uyğun, sahibkarın ağrılı nöqtəsini vuran, problemi böyüdən, daha sonra 'Satış Gətirən Sistem' və ya 'Ağıllı Biznes Sistemi'ni yeganə həll kimi göstərən və sonda güclü CTA ilə bitən Instagram mətni. Emojilərdən və abzaslardan istifadə et.\",\n  \"tags\": \"Mövzuya uyğun 5-7 populyar heşteq\",\n  \"unsplash_query\": \"Mövzunu əks etdirən estetik biznes vizualı üçün ingiliscə 2-3 açar söz. Sözlərin arasına yalnız vergül qoy və boşluq buraxma.\"\n}\n\nƏlavə qaydalar:\n\n- Müştəri heç vaxt sistemin necə işlədiyini bilməməlidir.\n- Fokus yalnız nəticəyə yönəlsin.\n- Vaxt qənaəti, daha çox satış, daha çox müştəri, daha az səhv, daha sürətli iş prosesi kimi faydalar vurğulansın.\n- Mətn reklam xarakterli yox, problemin həlli kimi görünsün.\n- CTA mütləq olsun:\n  \"Detallar üçün rəydə + yazın\"\n  və ya\n  \"Direktə yazın\"\n\nJSON xaricində heç bir mətn yazma."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -4016,
        -1568
      ],
      "id": "36cbc41e-48d0-4c99-9e57-629d9078f074",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -4176,
        -1344
      ],
      "id": "6c55a80d-5641-4d1d-bd66-71dbd0dfe933",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "ZOK5xwwi5YTx0zxL",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Süni intellektdən gələn xam mətni götürürük\n// (Buradakı 'text' sözünü DeepSeek nodunun qaytardığı output dəyişəninə uyğun dəyişə bilərsiniz, adətən 'text' və ya 'message.content' olur)\nlet rawText = $input.item.json.text || $input.item.json.message?.content;\n\nif (!rawText) {\n    throw new Error(\"Süni intellektdən heç bir mətn gəlmədi!\");\n}\n\ntry {\n    // 2. Əgər Sİ mətni ```json ... ``` içində göndəribsə, lazımsız hissələri təmizləyirik\n    let cleanText = rawText\n        .replace(/```json/g, '')\n        .replace(/```/g, '')\n        .trim();\n\n    // 3. Mətni real JSON obyektinə çeviririk\n    let parsedData = JSON.parse(cleanText);\n\n    // 4. n8n-in növbəti nodlarda rahatlıqla tək-tək oxuya bilməsi üçün datanı ayırırıq\n    return {\n        json: {\n            sehirli_soz: parsedData.sehirli_soz,\n            instagram_caption: parsedData.instagram_caption,\n            tags: parsedData.tags,\n            unsplash_query: parsedData.unsplash_query\n        }\n    };\n\n} catch (error) {\n    // Əgər JSON formatında xəta olarsa, xətanı və xam mətni görmək üçün:\n    return {\n        json: {\n            error: \"JSON formatlama xətası baş verdi!\",\n            raw_response: rawText\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3632,
        -1568
      ],
      "id": "22dedce5-9431-4cea-9b7b-e821e40a95aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -4400,
        -1568
      ],
      "id": "ff3bad4e-5847-4ab9-a677-b38b799ca699",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/photos/random",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.unsplash_query }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Client-ID d9OM8dWg6qHrudB7cvZAqpK_rwOstF9E6MLryWbinhU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3408,
        -1568
      ],
      "id": "56030d12-1daa-4bd7-a467-f2c2e3865fc5",
      "name": "unplash"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bannerbear.com/v2/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer bb_pr_40d07de727ad749ccbd49dd707db16"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template\": \"kY4Qv7D8pEYKDB0qmP\",\n  \"modifications\": [\n    {\n      \"name\": \"photo_layer\",\n      \"image_url\": \"{{ $json.urls.raw }}\"\n    },\n    {\n      \"name\": \"sehirlisoz_layer\",\n      \"text\": \"{{ $('Code in JavaScript').item.json.sehirli_soz }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3216,
        -1568
      ],
      "id": "d56fe97a-3ac8-470d-8ac1-4e9d2be81699",
      "name": "banner bear"
    },
    {
      "parameters": {
        "url": "={{ $json.self }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "Bearer bb_pr_40d07de727ad749ccbd49dd707db16"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2816,
        -1568
      ],
      "id": "4a98cd4e-5837-46c0-8d30-0f3e4df981d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3040,
        -1568
      ],
      "id": "124b1777-dd58-450d-83a9-8a42cd8c407f",
      "name": "Wait",
      "webhookId": "c2bc9e92-edcb-4e57-87b5-f2552d15743a"
    },
    {
      "parameters": {
        "content": "#  **SENARIONUN HAZIRLANMASI**\n\n",
        "height": 592,
        "width": 2704,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4912,
        -1744
      ],
      "typeVersion": 1,
      "id": "62a0f9a4-6d36-479b-bc73-742c3478b6b2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "post",
        "organizationId": "6a3d35859c344aa799a636bd",
        "channelId": "6a3d364a5ab6d2f1066ee386|instagram",
        "postText": "={{ $('Code in JavaScript').item.json.instagram_caption }}\n\n{{ $('Code in JavaScript').item.json.tags }}",
        "attachmentType": "image",
        "imageUrl": "={{ $json.image_url }}"
      },
      "type": "@bufferapp/n8n-nodes-buffer.buffer",
      "typeVersion": 1,
      "position": [
        -2608,
        -1568
      ],
      "id": "f39c344e-2045-44bb-a5b7-aa6570e35e52",
      "name": "Create a post",
      "credentials": {
        "bufferApi": {
          "id": "bKqPbEs0fxtZKnL5",
          "name": "Instagram Accaunt"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hGiJVSxod2wuvLGx",
          "mode": "list",
          "cachedResultName": "all-ideas",
          "cachedResultUrl": "/projects/6k8jnfkEYp4DDVTD/datatables/hGiJVSxod2wuvLGx"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Limit').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ideas": "={{ $('Cedvel').item.json.Ideas }}",
            "status": "completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ideas",
              "displayName": "Ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tarix",
              "displayName": "tarix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2416,
        -1568
      ],
      "id": "6c9f4ecc-69f2-4cea-aca1-878a4385bc61",
      "name": "Update row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Cedvel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cedvel": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "butun ideyalar": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "butun ideyalar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "unplash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unplash": {
      "main": [
        [
          {
            "node": "banner bear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "banner bear": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e17f0571-7965-4b6a-b916-aec45324c35f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c0316733db25fdb4129e37cba1195cc471e26658a6a0f1d5bb03df323831dde2"
  },
  "nodeGroups": [],
  "id": "zM1uxYBTFPtdVzQp",
  "tags": []
}